@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;900&family=Inter:wght@400;500;600;700;900&display=swap');
@import "tailwindcss";

@theme {
  --color-tarco-red: #E31E24;
  --color-tarco-blue: #1D4296;
  --color-tarco-navy: #003366;
  --color-tarco-gold: #FFCC00;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-arabic: "Cairo", sans-serif;
}
